<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Galeria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Galeria da mulher mais linda 😍</h1>
    <div class="galeria">
        <img src="{{ url_for('static', filename='imagens/foto1.jpg') }}" width="300">
        <img src="{{ url_for('static', filename='imagens/foto2.jpg') }}" width="300">
        <img src="{{ url_for('static', filename='imagens/foto3.jpg') }}" width="300">
    </div>
    <p><a href="/">Voltar</a></p>
</body>
</html>
